.item {
    margin: 45px;
    width: 170px;
    position: relative;
    display: inline-block
}

.item img {
    display: block;
    width: 250px;
    height: 250px;
}

.item p {
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    position: absolute;
    bottom: -20px;
    width: 250px;
    margin: 0;
}

.btn-success {
    margin: 0 5px 5px 0;
}